---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import me from "../images/tim.jpg";
import { fade } from "astro:transitions";
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { AboutFields } from "../lib/contentful";
import aws from "../images/aws-certified-cloud-practitioner.png";

const title = "Tim Hilton - About";

const entries = await contentfulClient.getEntries<AboutFields>({
    content_type: "home",
});

const { about } = entries.items[0].fields;
const elevatorPitchHtml = documentToHtmlString(about);
---

<Layout title={title}>
    <main>
        <div class="hero-container">
            <div class="image-wrapper" transition:name="image">
                <Image src={me} alt="Tim Hilton" />
            </div>
            <div
                class="content"
                transition:animate={fade({ duration: "0.5s" })}
            >
                <h2>
                    I'm <span
                        transition:name="fullName"
                        transition:persist="fullName">Tim Hilton</span
                    >
                </h2>
                <div set:html={elevatorPitchHtml} />
            </div>
            <div class="certifications">
                <h3>Certifications</h3>
                <a
                    href="https://www.credly.com/badges/39e7bc28-9333-4d5b-9db9-8967aa54e1ba/public_url"
                    target="_blank"
                >
                    <Image src={aws} alt="aws cloud practitioner" />
                </a>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        min-height: max-content;
        height: calc(100dvh - 48px);
        padding: 8rem 2rem 2rem;

        @media screen and (max-width: 768px) {
            padding: 5rem 2rem 2rem;
            height: max-content;
        }
    }
    .hero-container {
        width: 75vw;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 24px;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .image-wrapper {
        position: relative;
        aspect-ratio: 1;
        width: 15vw;
        border: 4px solid #8e8d8d;
        border-radius: 2rem;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            width: 30vw;
            justify-self: center;
        }
    }
    .image-wrapper img {
        width: 100%;
        height: 100%;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
    }

    .certifications {
        img {
            width: 10vw;
            height: auto;
        }

        @media screen and (max-width: 768px) {
            img {
                width: 30vw;
                height: auto;
                justify-self: center;
            }
        }
    }
</style>
