---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import me from "../images/tim.jpg";
import { fade } from "astro:transitions";
---

<Layout title="Tim Hilton - Frontend Developer">
	<main>
		<div class="hero-container">
			<div
				class="content"
				transition:animate={fade({ duration: "0.4s" })}
			>
				<h1><span transition:name="fullName">Tim Hilton</span></h1>
				<p>Lead Web Engineer building and guiding consumer platforms</p>
				<a href="/work" class="btn">View My Work</a>
			</div>
			<div class="image-wrapper" transition:name="image">
				<Image src={me} alt="Tim Hilton" />
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		min-height: max-content;
		height: calc(100vh - 48px);
		padding: 8rem 2rem 2rem;
	}

	a.btn {
		text-decoration: none;
		background-color: rgb(59, 232, 142);
		border: none;
		border-radius: 50px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
		color: #565656;
		font-size: 1.5em;
		font-weight: 400;
		padding: 0.5em 1em;
		text-transform: uppercase;
		transition: 0.3s ease all;
		width: max-content;
		position: relative;
		overflow: hidden;
	}

	a.btn:hover {
		background-color: rgb(59, 232, 142, 0.7);
	}

	a.btn:after {
		content: "";
		position: absolute;
		top: -50%;
		right: -50%;
		bottom: -50%;
		left: -50%;
		background: linear-gradient(
			to bottom,
			rgba(229, 172, 142, 0),
			rgba(255, 255, 255, 0.5) 50%,
			rgba(229, 172, 142, 0)
		);
		transform: rotateZ(60deg) translate(-5em, 7.5em);
	}

	a.btn:hover::after,
	a.btn:focus::after {
		animation: shine 1s forwards;
	}

	@keyframes shine {
		100% {
			transform: rotateZ(75deg) translate(1em, -9em);
		}
	}

	.hero-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
		align-items: center;
	}

	.image-wrapper {
		position: relative;
		aspect-ratio: 1;
		width: 35vw;
		border: 4px solid #8e8d8d;
		border-radius: 2rem;
		overflow: hidden;

		@media screen and (max-width: 768px) {
			width: 74vw;
		}
	}

	.image-wrapper img {
		width: 100%;
		height: 100%;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		align-items: flex-end;

		@media screen and (max-width: 768px) {
			align-items: center;
		}
	}

	h1 {
		font-size: 3.5rem;
		font-weight: bold;
		margin: 0;
	}

	p {
		font-size: 1.25rem;
		margin: 0;

		@media screen and (max-width: 768px) {
			width: 25ch;
		}
	}

	@media (max-width: 768px) {
		.hero-container {
			grid-template-columns: 1fr;
			text-align: center;
		}

		h1 {
			font-size: 2.5rem;
		}

		.image-wrapper {
			max-width: 400px;
			margin: 0 auto;
		}
	}
</style>
