---
import ThemeToggle from "./ThemeToggle.astro";
const navItems = ["home", "about", "work", "skills", "blog", "contact"];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname === '/' ? 'home' : pathname.slice(1).split('/')[0];
---

<header>
    <nav>
        <ul>
            {
                navItems.map((item) => (
                    <li>
                        <a class={currentPath === item ? "active" : ""} href={`/${item === "home" ? "" : item}`}>
                            {item.charAt(0).toUpperCase() + item.slice(1)}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
    <ThemeToggle />
</header>

<style>
    header {
        position: fixed;
        width: 100%;
        top: 0;
        background: rgba(var(--background-color) 0.6);
        backdrop-filter: blur(8px);
        z-index: 10;
        display: flex;
        align-items: center;
    }

    nav {
        max-width: 1200px;
        width: 50vw;
        margin: 0 auto;
        padding: 1rem 2rem;

        @media screen and (max-width: 768px) {
            width: 90vw;
            font-size: 1.25em;
        }
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav a {
        color: var(--text-color);
        text-decoration: none;
        transition: width 0.3s ease;
        position: relative;
    }

    nav a::after {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 0%;
        bottom: -4px;
        background-color: var(--text-color);
        transition: width 300ms;
    }

    nav a:hover::after {
        width: 100%;
    }

    nav a.active::after {
        width: 100%;
    }
</style>
